# Mirror interno debian
deb http://mirror.{{ domain }}/debian/ stretch main contrib non-free
deb http://mirror.{{ domain }}/security/ stretch/updates main contrib non-free
deb http://mirror.{{ domain }}/debian/ stretch-updates main contrib non-free
deb [trusted=yes] http://mirror.{{ domain }}/custom ./
