# Mirror interno debian
deb http://mirror.{{ domain }}/archive/ squeeze main
deb http://mirror.{{ domain }}/archive/ squeeze-lts main
deb [trusted=yes] http://mirror.{{ domain }}/custom ./
#deb http://archive.debian.org/debian squeeze main
#deb http://archive.debian.org/debian squeeze-lts main
